<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Empleado Nombre}"></title>
</head>
<body>
    <h1 th:text="${Empleado Nombre}"></h1>
    <p th:text="${Empleado Apellido}"></p>
    <p th:text="${Empleado Dirección}"></p>
    <p th:text="${Empleado Puesto}"></p>
    <p th:text="${Empleado Edad}"></p>
    <p th:text="${Empleado Teléfono}"></p>
</body>
</html>